link(rel='stylesheet', href='/css/webgl-globe.css')

div(id=container)

div#info
	strong
		a(href="http://www.chromeexperiments.com/globe") WebGL Globe
	span(class="bull") &bull;
	span Created by the Google Data Arts Team
	
div#title Google Search Volume by Language
	

a#ce(href="http://chromeexperiments.com/globe")
	span This is a Chrome Experiment

script(type="text/javascript", src="/js/third-party/Three/ThreeWebGL.js")
script(type="text/javascript", src="/js/third-party/Three/ThreeExtras.js")
script(type="text/javascript", src="/js/third-party/Three/RequestAnimationFrame.js")
script(type="text/javascript", src="/js/third-party/Three/Detector.js")
script(type="text/javascript", src="/js/third-party/Tween.js")
script(type="text/javascript", src="/js/globe.js")
script(type="text/javascript")
	var data="#{data}";
script(type="text/javascript", src="/js/main.js")
